.drag {
    position: absolute;
    width: 290px;
    z-index: 1;
    background-color: #fcfacf;
    /*background-color: #f1f1f1;*/
    border: 1px solid #d3d3d3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    resize: none;
    overflow: auto;
    visibility: visible;
    display: block;
    border-radius: 5px;
    color: #565657;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

.dragHeader {
    margin-left: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
    height: 30px;
    width: 73%;
    cursor: move;
    z-index: 5;
    border: none;
    background-color: #fcfacf;
    color: #61615c;
    font-weight: 700;
    vertical-align: middle;
    line-height: 30px;
    font-size: 11pt;
    font-family: 'Montserrat', sans-serif;
    float: left;
    overflow: hidden;
}

#edit,#minimize,#exit {
    margin-top: 8px;
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

#edit:hover,#minimize:hover,#exit:hover{
    cursor: pointer;
}

.add, .undo {
    font-weight: bold;
    font-size: 16pt;
    outline: none;
    margin-left: 7px;
    margin-bottom: 0px;
    color: #444444;
    border: none;
    width: 13px; 
}

.undo {
    margin-left: 7px;
}